@use "../../../app/assets/scss/vars" as *;

.admin-header {
  padding: 35px var(--margin);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  pointer-events: none;
  z-index: 60;
  width: 100%;
  box-sizing: border-box;

  > * {
    pointer-events: all;
  }

  .home-link {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .svg-logo {
      width: figmaSize(160px);
      height: auto;
      position: absolute;
      z-index: -1;
      left: 20px;
      top: 0;
    }

    .svg-wordmark {
      color: var(--white);
      stroke: var(--black);
      width: figmaSize(150px);
      height: auto;
      display: block;
    }
  }

  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
    flex-shrink: 0;

    .a-div {
      @include standard-button;
      white-space: nowrap;

      &.router-link-exact-active {
        background: var(--white);
        color: var(--black);
      }
    }
  }
}
