@import '../../../../app/assets/scss/vars';

.site-marketing-footer {
    background: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px var(--margin) 0;

    .svg-wordmark {
        width: figmaSize(290px);
        height: auto;
    }

    .entry {
        max-width: 600px;
        text-align: center;
        margin-top: 40px;

        p {
            text-transform: none;
        }
    }

    .newsletter-form {
        margin-top: 40px;
    }

    .social-menu {
        display: flex;
        align-items: center;
        gap: 40px;
        padding: 60px 0;

        a {
            @include fontSize(21px);
            font-family: var(--font-condensed);
            line-height: 90%;
        }
    }

    .secondary-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 30px;
        padding-bottom: var(--margin);

        span:first-child {
            flex: 1;
        }
        ul {
            text-transform: none;
        }
    }

    @include bp(m) {
        .social-menu {
            padding: 40px 0;
            gap: 15px;

            a {
                font-size: 14px;
            }
        }
    }
}
