@use '../../app/assets/scss/vars' as *;

.track-player {
  grid-template-columns: auto 1fr;
  grid-gap: 5px;
  display: grid;

  .play-button {
    text-transform: uppercase;
    min-width: 50px;
  }

  .track-preview {
    pointer-events: none;
  }
}
