@import '../../app/assets/scss/vars';

main.only-admins {
  .only-admins-loading {
    margin: auto;
  }

  .only-admins-locked {
    text-align: center;

    .centered {
      display: inline-block;
      max-width: 500px;
    }

    h4 {
      margin: 10px 0;
    }

    .btn {
      filter: invert(1);
    }
  }
}
