@import '../../../app/assets/scss/vars';

.member-card {
  background-color: rgba(#fff, 0.15);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  padding: 1em;

  .member-row {
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-gap: 10px;
    display: grid;

    .private-toggle {
      text-align: left;
    }

    .user {
      text-align: left;
      grid-template-columns: auto 1fr;
      align-items: flex-start;
      display: inline-grid;
      grid-gap: 10px;
    }

    .member-avatar {
      border: 1px solid var(--white);
      display: inline-block;
      border-radius: 100%;
      width: 40px;
    }

    .member-avatar::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    .username {
      padding-top: 0.5em;

      h6 {
        line-height: 90%;
        margin: 0;
      }
    }

    .subtext {
      font-size: 10px;
    }
  }

  .inputs {
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-top: 30px;
    grid-gap: 20px;
    display: grid;

    .tag-select {
      grid-column: span 2;

      .multiselect {
        font-family: var(--font-mono);
      }

      .multiselect__tags {
        padding: 0.2em 1em;
        min-height: 20px;
        font-size: 12px;
      }

      .multiselect__placeholder {
        margin-bottom: 4px;
      }

      .multiselect__select {
        height: 27px;
      }

      .multiselect__option {
        padding: 0.2em 1em;
        min-height: 20px;
        font-size: 12px;
      }

      .multiselect__tag-icon::after {
        color: var(--white);
      }

      .multiselect__tag,
      .multiselect__option--highlight {
        background: rgba(#000, 0.8);
      }

      .multiselect__option--selected::after,
      .multiselect__option--highlight::after {
        display: none;
      }

      .label {
        text-align: left;
        display: block;
        margin-bottom: 10px;
      }
    }

    .label {
      text-align: right;
    }

    .text-inpt {
      background-color: rgba(#fff, 0.15);
      border: 1px solid transparent;
      font-family: monospace;
      padding: 0.5em 0.75em;

      &:invalid {
        border-color: red;
      }
    }
  }

  .cta-row {
    margin-top: 30px;
  }
}
