@use "../../app/assets/scss/vars" as *;

main.only-creators {
  display: flex;

  .only-creators-loading {
    margin: auto;
  }

  .only-creators-locked {
    text-align: center;
    margin: auto;

    .centered {
      display: inline-block;
      max-width: 500px;
    }

    h4 {
      margin: 10px 0;
    }

    .btn {
      filter: invert(1);
    }
  }

  .only-creators-revealed {
    flex: 1;
  }
}
