@import "../fonts/fonts.css";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Authentic", var(--font-geist-sans), system-ui, sans-serif;
}

.font-condensed {
  font-family: "Authentic Condensed", var(--font-geist-sans), system-ui, sans-serif !important;
}

.front-page {
  isolation: isolate;
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.noise-background {
  position: relative;
  min-height: 100vh;
}

.noise-background::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("/images/loopable-noise.gif") #ffffff 0% 0% / 100px 100px repeat;
  background-size: 100px;
  opacity: 0.15;
  pointer-events: none;
}

/* Application Form Styles */
.slice-application-form form.success .left,
.slice-application-form form.success .right {
  opacity: 0.4;
}

.slice-application-form form.success .right .multi-track-upload {
  opacity: 0.5;
  pointer-events: none;
}

.slice-application-form form.success .button-row button {
  pointer-events: none;
}

@media (max-width: 768px) {
  .slice-application-form form {
    display: block;
  }

  .slice-application-form form .left {
    margin-bottom: 30px;
  }
}
