@import '../../../../../app/assets/scss/vars';

.slice-stems-player {
  overflow: hidden;
  padding: 100px 0;
  outline: none;

  .slice-stems-player-slide {
    margin-right: 7vw;
    width: 75vw;
    height: 35vw;
  }

  @include bp(m) {
    .slice-stems-player-slide {
      width: 80vw;
      height: 40vh;
    }
  }
}
