@use "../../../../../app/assets/scss/vars" as *;

.slice-stems-player {
  padding: 100px 0;
  outline: none;
  margin: 0 auto;
  overflow: hidden;

  .embla {
    width: 100%;
    max-width: 100vw;
    margin: auto;
    --slide-spacing: 12vw;
    --slide-width: 75vw;
    --slide-height: 35vw;
  }

  .embla__container {
    display: flex;
    margin-left: var(--slide-spacing);
    margin-right: var(--slide-spacing);
  }

  .embla__slide {
    flex: 0 0 auto;
    min-width: 0;
    width: var(--slide-width);
    margin-right: var(--slide-spacing);

    &:last-child {
      margin-right: 0;
    }
  }

  .slice-stems-player-slide {
    width: var(--slide-width);
    height: var(--slide-height);
  }

  @include bp(m) {
    .slice-stems-player-slide {
      width: 80vw;
      height: 40vh;
    }
  }
}
