@import "../../../app/assets/scss/vars";

.overlay-profile-edit-contact {
  padding: 15px 0;
  border-bottom: 1px solid rgba(#000, 0.15);

  .submit-button {
    display: none;
  }

  .discord {
    grid-template-columns: auto 1fr;
    display: grid;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;

    svg {
      height: 0.8em;
      width: auto;
      display: block;
      margin: auto;
    }

    .a-div {
      @include standard-button;
      justify-self: flex-start;
    }

    span {
      text-align: left;
      font-family: var(--font-mono);
      @include fontSize(11px);
    }
  }
}
