@import '../../../app/assets/scss/vars';

.admin-session-tags {
  text-transform: initial;

  .area-label {
    margin: 0;
  }

  .btn {
    filter: invert(1);
  }

  .button-area {
    text-align: center;
  }
}
